body {
  font-family: aktiv-grotesk-condensed, 游ゴシック体, YuGothic, 游ゴシック Medium, Yu Gothic Medium, 游ゴシック, Yu Gothic, sans-serif;
  letter-spacing: .05em
}

ul {
  padding: 0
}

li {
  list-style: none
}

a {
  text-decoration: none
}

*, :after, :before {
  box-sizing: border-box
}

ol, ul {
  padding: 0
}

blockquote, body, dd, dl, figure, h1, h2, h3, h4, ol, p, ul {
  margin: 0
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5
}

ol, ul {
  list-style: none
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto
}

img {
  max-width: 100%;
  display: block
}

article>*+* {
  margin-top: 1em
}

button, input, select, textarea {
  font: inherit
}

img:not([alt]) {
  filter: blur(10px)
}

@media(prefers-reduced-motion:reduce) {
  * {
    animation-duration: .01ms!important;
    animation-iteration-count: 1!important;
    transition-duration: .01ms!important;
    scroll-behavior: auto!important
  }
}

.header-lang ul li.zh-CN, .header-lang ul li.zh-TW {
  display: none
}

.header-nav {
  position: fixed;
  width: 100%;
  z-index: 99
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 30px 80px 30px 38px;
  background: linear-gradient(180deg, rgba(51, 51, 51, .8), rgba(51, 51, 51, .8) 25%, rgba(51, 51, 51, 0) 90%, rgba(51, 51, 51, .06))
}

.header-container h1 {
  width: 200px
}

.header-container h1 img {
  width: 100%
}

.header-container h1 a:hover img {
  opacity: .6;
  transition: .3s
}

.header-langs li, .header-menu li {
  position: relative;
  float: left;
  text-align: center
}

.header-langs>li:after {
  position: absolute;
  content: "";
  top: 10px;
  right: 2px;
  width: 12px;
  height: 12px;
  border-color: transparent transparent #3391fd #3391fd;
  border-style: solid;
  border-width: 1px;
  transform: rotate(-45deg)
}

.header-langs li a, .header-menu li a {
  color: #fff;
  font-weight: 300;
  display: block;
  padding: 13px 0;
  font-size: 16px;
  line-height: 1
}

.header-list:not(:last-child) {
  margin-right: 50px
}

.header-list:hover>a {
  color: #3391fd!important
}

.header-lang ul, .header-list ul {
  position: absolute;
  top: 150%;
  left: -30px;
  background-color: #000;
  transition: all .3s;
  opacity: 0;
  width: 180px;
  display: flex;
  flex-direction: column;
  padding: 20px 27px 22px 23px
}

.header-lang:hover ul, .header-list:hover ul {
  opacity: 1;
  top: 100%
}

.header-lang ul>li:first-child, .header-list ul>li:first-child {
  margin-bottom: 15px
}

.header-lang ul li, .header-list ul li {
  color: #fff
}

.header-lang ul li span, .header-list ul li a {
  background-color: #000;
  text-align: left;
  font-size: 14px;
  white-space: nowrap;
  display: block
}

.header-lang ul li a, .header-lang ul li span {
  text-transform: uppercase
}

.header-lang ul li a {
  padding: 0;
  font-size: 14px
}

.header-lang:hover>a, .header-lang ul li a:hover, .header-list:hover>a, .header-list ul li a:hover {
  color: #3391fd
}

.header-lang {
  color: #fff;
  cursor: pointer;
  padding: 8px 25px 8px 0;
  font-weight: 300;
  transition: .3s
}

.header-lang:hover {
  color: #3391fd
}

.header-lang ul li {
  text-align: left
}

.header-langsp, .header-spMenu, .header-tab-visible, .sp-header-download {
  display: none
}

@media screen and (min-width:768px) {
  .header-list-news {
    display: none!important
  }
}

@media screen and (max-width:1024px) {
  .header-tab-visible {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    padding: 7px 0
  }
  .header-langpc {
    display: none
  }
  .header-langsp {
    display: inline
  }
  .header-tab-visible:hover {
    color: #3391fd
  }
  .header-container {
    padding: 25px 50px 25px 20px
  }
  .header-container h1 {
    width: 150px
  }
  .header-langs li a, .header-menu li a {
    font-size: 14px;
    padding: 11px 0
  }
  .header-lang {
    padding: 5px 0
  }
  .header-langs>li:after {
    width: 0;
    height: 0;
    border: none
  }
}

@media screen and (max-width:767px) {
  .header-tab-hidden {
    display: inline-block!important
  }
  .header-tab-visible {
    display: none
  }
  .header-container {
    padding: 25px
  }
  .header-container h1 {
    flex-basis: 57%;
    z-index: 99;
    width: 160px
  }
  .header-container h1 img {
    width: 160px
  }
  .header-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #1d1d1d;
    padding: 100px 0 0 45px;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in
  }
  .header-menu li {
    float: none;
    text-align: left
  }
  .header-menu li a {
    font-size: 20px;
    padding: 20px 0;
    width: 100%
  }
  .header-list ul {
    position: static;
    background: none;
    opacity: 1;
    flex-direction: row;
    width: 100%;
    margin-bottom: 50px;
    padding-top: 0;
    padding-left: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
  }
  .header-list-news {
    padding-bottom: 0!important;
    margin-bottom: 0!important
  }
  .header-list ul li {
    overflow: visible;
    height: auto;
    width: 50%;
    display: none
  }
  .header-list ul>li:first-child {
    margin-bottom: 0
  }
  .header-list:hover ul li {
    overflow: visible;
    height: auto
  }
  .header-list ul li a {
    background-color: transparent;
    padding: 13px 0;
    display: inline-block;
    width: 100%
  }
  .header-list ul li:last-child a {
    margin-bottom: 58px
  }
  .header-list:not(:last-child) {
    margin-right: 0
  }
  .header-langs {
    z-index: 99;
    margin-left: 30px
  }
  .header-lang {
    font-size: 12px;
    padding: 9px 0
  }
  .header-lang ul {
    left: -28px;
    width: 85px;
    padding: 16px 23px 19px 16px
  }
  .header-lang ul li a, .header-lang ul li span {
    font-size: 12px
  }
  .header-spMenu {
    display: block;
    padding-top: 12px;
    cursor: pointer;
    z-index: 99
  }
  .header-spMenu span {
    display: block;
    width: 30px;
    height: 1px;
    background-color: #fff;
    transition: all .3s ease-in
  }
  .header-spMenu span:first-child {
    margin-bottom: 8px
  }
  .sp-header-download {
    display: block;
    position: absolute!important;
    bottom: 10px;
    right: 10px
  }
  .sp-header-download .sp-header-download-link {
    display: block;
    width: 100px;
    height: 100px;
    padding: 19.5px 0;
    text-align: center;
    border: 1px solid #7b9f35;
    z-index: 98;
    margin-bottom: 0;
    line-height: 1.5
  }
  .sp-header-download .sp-header-download-link p:first-child {
    font-size: 10px;
    color: #7b9f35;
    transform: scale(.9);
    letter-spacing: .9px
  }
  .sp-header-download .sp-header-download-link p:nth-child(2) {
    font-size: 16px;
    color: #7b9f35;
    font-weight: 600;
    margin-bottom: 4px
  }
  .sp-header-download .sp-header-download-link img {
    width: 12px;
    margin: 0 auto
  }
}

@media screen and (max-width:350px) {
  .header-list ul {
    padding-left: 15px
  }
}

@keyframes footerFade {
  0% {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

footer {
  background-color: #333
}

.footer-wrapper {
  background-color: #1d1d1d;
  padding-left: 22%;
  padding-top: 45px;
  position: relative
}

.footer-menus {
  padding-bottom: 140px
}

.footer-menu {
  display: inline-block;
  vertical-align: top;
  padding-right: 65px
}

.footer-list {
  margin-bottom: 5px
}

.footer-link {
  font-size: 14px;
  color: #fff;
  font-weight: 300
}

.footer-link:hover {
  opacity: .6
}

.footer-listFirst>.footer-link {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  margin-bottom: 25px
}

.footer-toTop {
  position: absolute;
  display: inline-block;
  top: 12%;
  right: 5%;
  width: 25px;
  height: 25px;
  border-color: #3391fd #3391fd transparent transparent;
  border-style: solid;
  border-width: 1px;
  transform: rotate(-45deg)
}

.footer-credit {
  text-align: center;
  padding-bottom: 30px;
  background-color: #1d1d1d
}

.footer-credit small {
  font-size: 12px;
  color: hsla(0, 0%, 100%, .4)
}

.fixed-download {
  position: fixed;
  display: block;
  width: 150px;
  height: 150px;
  padding: 35px 6px;
  bottom: 20px;
  right: 20px;
  text-align: center;
  border: 1px solid #7b9f35;
  z-index: 99;
  transition: all 0s
}

#fixed-download-syn {
  transition: all .3s
}

.fixed-download:hover {
  opacity: .6!important;
  transition: opacity .3s
}

.fixed-download p:first-child {
  font-size: 15px;
  color: #7b9f35
}

.fixed-download p:nth-child(2) {
  font-size: 22px;
  color: #7b9f35;
  font-weight: 600;
  margin-bottom: 5px
}

.fixed-download img {
  width: 16px;
  margin: 0 auto
}

.fixed-download-contact {
  position: absolute;
  display: block;
  width: 150px;
  height: 150px;
  padding: 35px 6px;
  top: -41%;
  right: 20px;
  text-align: center;
  border: 1px solid #7b9f35;
  z-index: 99
}

.fixed-download-contact:hover {
  opacity: .6!important;
  transition: opacity .3s
}

.fixed-download-contact p:first-child {
  font-size: 15px;
  color: #7b9f35
}

.fixed-download-contact p:nth-child(2) {
  font-size: 22px;
  color: #7b9f35;
  font-weight: 600;
  margin-bottom: 5px
}

.fixed-download-contact img {
  width: 16px;
  margin: 0 auto
}

@media screen and (max-width:1100px) {
  .footer-wrapper {
    padding-left: 0
  }
  .footer-menus {
    text-align: center
  }
  .footer-menu {
    text-align: left
  }
}

@media screen and (max-width:767px) {
  .footer-wrapper {
    padding-left: 42px;
    padding-top: 28.5px;
    position: relative
  }
  .footer-menus {
    padding-bottom: 90px
  }
  .footer-menu {
    display: block
  }
  .footer-listFirst {
    margin-bottom: 0
  }
  .footer-listFirst>.footer-link {
    font-size: 20px
  }
  .footer-listFirst~.footer-list:last-child {
    margin-bottom: 58px
  }
  .footer-link {
    width: 100%;
    display: inline-block
  }
  .footer-link:hover {
    opacity: 1
  }
  .footer-listFirst>.footer-link {
    padding: 20px 0;
    margin-bottom: 0
  }
  #footerNews {
    display: none
  }
  .footer-list-child {
    display: none;
    opacity: 0;
    padding-left: 45px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -15px;
    margin-bottom: 20px
  }
  #footerNews:checked~.footer-list-child-news {
    display: flex;
    animation: footerFade .7s forwards
  }
  .footer-list-child .footer-list {
    width: 50%;
    margin-bottom: 0
  }
  .footer-list-child .footer-list .footer-link {
    padding: 10px 0
  }
  .footer-toTop {
    width: 20px;
    height: 20px;
    top: 34px;
    right: 10%
  }
  .footer-credit {
    text-align: center;
    padding-bottom: 30px
  }
  .footer-credit small {
    font-size: 12px;
    color: hsla(0, 0%, 100%, .4)
  }
  .fixed-download {
    width: 100px;
    height: 100px;
    padding: 19.5px 0;
    right: 10px;
    bottom: 10px;
    z-index: 98
  }
  .fixed-download p:first-child {
    font-size: 10px;
    transform: scale(.9)
  }
  .fixed-download p:nth-child(2) {
    font-size: 16px;
    margin-bottom: 4px
  }
  .fixed-download img {
    width: 12px;
    margin: 0 auto
  }
  .fixed-download-contact {
    width: 100px;
    height: 100px;
    padding: 19.5px 0;
    right: 10px;
    top: -109px;
    z-index: 98
  }
  .fixed-download-contact p:first-child {
    font-size: 10px;
    transform: scale(.9)
  }
  .fixed-download-contact p:nth-child(2) {
    font-size: 16px;
    margin-bottom: 4px
  }
  .fixed-download-contact img {
    width: 12px;
    margin: 0 auto
  }
}

@media screen and (max-width:350px) {
  .footer-list-child {
    padding-left: 15px
  }
}

#stalker {
  pointer-events: none;
  position: fixed;
  top: -8px;
  left: -8px;
  width: 16px;
  height: 16px;
  background: rgba(0, 0, 0, .5);
  border-radius: 50%;
  transition: transform .2s, top .5s, left .5s, width .5s, height .5s, background-color .5s;
  transition-timing-function: ease-out;
  z-index: 1000
}

#stalker.hov_ {
  top: -32px;
  left: -32px;
  width: 64px;
  height: 64px;
  transition: .5s;
  background: rgba(0, 0, 0, .4)
}

@media screen and (max-width:1024px) {
  #stalker {
    display: none
  }
}

@keyframes scrollbar {
  0% {
    transform: scaleY(0)
  }
  to {
    transform: scaleY(1)
  }
}

#barba-wrapper {
  background-color: #333
}

.barba-container {
  opacity: 0;
  visibility: hidden
}

a, p, span {
  opacity: .9
}

a {
  transition: all .3s
}

.more {
  display: inline-block;
  color: #3391fd;
  padding-bottom: 12px;
  position: relative
}

.more, .more:after {
  transition: all .3s;
  width: 140px
}

.more:after {
  position: absolute;
  content: "";
  height: 1px;
  background: linear-gradient(90deg, #0bc1fd 0, #a20cff 51%, #0bc1fd);
  bottom: 0;
  left: 0;
  background-size: 200% auto
}

.more:hover:after {
  background-position: 100%
}

.sponly {
  display: none
}

.effect-fade {
  opacity: 0;
  transform: translateY(45px);
  transition: all .8s
}

.effect-fade.effect-scroll {
  opacity: 1;
  transform: translate(0)
}

@media screen and (max-width:767px) {
  .div-more {
    text-align: left
  }
  .pconly {
    display: none
  }
  .sponly {
    display: block
  }
}

#main, .mv-wrapper {
  background-color: #333
}

.mv-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden
}

#mv-video {
  min-width: 100%;
  min-height: 100vh;
  z-index: 1;
  opacity: 0
}

.mv-mask {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  z-index: 2;
  opacity: 0
}

.mv-lead {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3
}

.mv-title {
  font-size: 118px
}

.mv-title1 {
  color: #fff;
  line-height: .5;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end
}

.mv-title1 span {
  opacity: 0;
  left: -50px;
  position: relative
}

.mv-title2 {
  color: #b1b1b1;
  margin-left: 185px;
  margin-bottom: 20px
}

.mv-title2 span {
  position: relative;
  right: -50px;
  opacity: 0
}

.mv-text {
  color: #fff;
  text-align: center;
  font-size: 15px;
  line-height: 1.7
}

.mv-text span {
  opacity: 0;
  position: relative;
  bottom: -50px
}

.mv-scroll {
  bottom: 90px;
  transform: translate(-50%);
  color: #fff;
  opacity: 0
}

.mv-scroll, .mv-scroll:after {
  position: absolute;
  left: 50%;
  z-index: 3
}

.mv-scroll:after {
  content: "";
  top: 33px;
  width: 1px;
  height: 60px;
  background-color: hsla(0, 0%, 100%, .6);
  transform-origin: center top;
  animation: scrollbar 1.3s infinite
}

@media screen and (max-width:1100px) {
  .mv-title {
    font-size: 100px
  }
}

@media screen and (max-width:950px) {
  .mv-title {
    font-size: 75px
  }
}

@media screen and (max-width:767px) {
  .mv-lead {
    text-align: center
  }
  .mv-title1 {
    justify-content: center;
    font-size: 18vw;
    margin-left: 5px
  }
  .mv-title2 {
    margin-left: 0;
    font-size: 15.9vw;
    letter-spacing: -.02em
  }
  .mv-text {
    font-size: 12px;
    line-height: 2;
    white-space: nowrap;
    letter-spacing: .06em
  }
  .mv-scroll {
    font-size: 12.5px
  }
  .mv-scroll:after {
    top: 27px
  }
}

.news-wrapper {
  width: 950px;
  padding: 140px 0 170px;
  margin: 0 auto;
  max-width: calc(100% - 20px)
}

.news-contents {
  display: flex;
  justify-content: space-between
}

.news-contentLeft h2 {
  font-size: 100px;
  color: #fff;
  font-weight: 400
}

.news-contentLeft p {
  font-size: 14px;
  color: #999;
  margin-bottom: 75px;
  font-weight: 100
}

.news-contentRight {
  width: 55%;
  border-top: 1px solid #555;
  margin-top: 33px
}

.news-article {
  padding: 20px 0;
  border-bottom: 1px solid #555;
  display: flex;
  justify-content: space-between
}

.news-article:hover .news-menu, .news-article:hover .news-thumbnail {
  opacity: .6
}

.news-thumbnail {
  display: inline-block;
  flex-basis: 20%;
  height: auto;
  vertical-align: top;
  transition: all .3s
}

.news-thumbnail img {
  width: 100%;
  height: 100%
}

.news-menu {
  display: inline-block;
  vertical-align: top;
  margin-top: -8px;
  flex-basis: 74%;
  transition: all .3s
}

.news-menu time {
  color: hsla(0, 0%, 100%, .6);
  margin-right: 15px;
  margin-bottom: 10px
}

.news-category, .news-menu time {
  display: inline-block;
  font-size: 12px
}

.news-category {
  color: #3391fd
}

.news-title {
  display: block;
  width: 100%;
  color: #fff;
  font-size: 14px
}

@media screen and (max-width:1200px) {
  .news-contentLeft h2 {
    font-size: 80px
  }
}

@media screen and (max-width:1000px) {
  .news-contentLeft h2 {
    font-size: 85px
  }
}

@media screen and (max-width:767px) {
  .news-wrapper {
    max-width: calc(100% - 50px);
    padding: 85px 0 120px
  }
  .news-contents {
    display: block
  }
  .news-contentLeft p {
    font-size: 11px;
    margin-bottom: 45px;
    margin-top: -15px
  }
  .news-contentRight {
    width: 100%;
    margin-top: 0;
    margin-bottom: 50px
  }
  .news-article {
    padding: 15px 0
  }
  .news-thumbnail {
    flex-basis: 23%
  }
  .news-menu {
    flex-basis: 68%
  }
  .news-menu time {
    font-size: 10px;
    margin-right: 12px
  }
  .news-category {
    display: inline-block;
    margin-bottom: 4px;
    font-size: 10px
  }
  .news-title {
    font-size: 14px
  }
}

@media screen and (max-width:320px) {
  .news-contentLeft h2 {
    font-size: 50px
  }
}

.product-wrapper {
  background: url("../img/main-synbg.png") center top / contain no-repeat;
  padding-top: 23%;
  padding-bottom: 180px
}

.product-content {
  width: 1000px;
  max-width: calc(100% - 20px);
  margin: 0 auto
}

.product-content h2 {
  margin-bottom: 25px
}

.product-leading {
  padding-left: 32%
}

.product-title {
  font-size: 26px;
  color: #fff;
  margin-bottom: 10px
}

.product-annotation {
  font-size: 14px;
  color: #999;
  margin-bottom: 20px;
  font-weight: 100
}

.product-text {
  font-size: 14px;
  color: #fff;
  line-height: 1.7;
  margin-bottom: 50px
}

@media screen and (max-width:767px) {
  .product-wrapper {
    background: none;
    padding-top: 23%;
    padding-bottom: 160px
  }
  .product-content {
    max-width: 100%
  }
  .product-content h2 {
    margin-bottom: -7.5%;
    margin-left: 20px;
    margin-right: 20px;
    position: relative
  }
  .product-content img {
    width: 100%
  }
  .product-leading {
    padding-left: 0;
    text-align: center;
    max-width: calc(100% - 70px);
    margin: 50px auto 0
  }
  .product-title {
    font-size: 22px;
    line-height: 1.6;
    text-align: left;
    margin-bottom: 10px;
    font-weight: 600
  }
  .product-annotation {
    font-size: 10px;
    text-align: left;
    margin-bottom: 20px
  }
  .product-text {
    font-size: 12px;
    margin-bottom: 40px;
    text-align: left
  }
}

.about-wrapper {
  padding-left: 22%
}

.about-contents {
  display: flex;
  justify-content: space-between
}

.about-content {
  width: 40%;
  padding-top: 7%
}

.about-content img {
  width: 145px
}

.about-content h2 {
  font-size: 100px;
  color: #fff;
  font-weight: 400;
  white-space: nowrap
}

.about-annotation {
  font-size: 14px;
  color: #999;
  margin-bottom: 35px;
  font-weight: 100
}

.about-text {
  font-size: 14px;
  color: #fff;
  line-height: 1.8;
  margin-bottom: 45px
}

.about-bg {
  width: 53%
}

.about-bg img {
  width: 100%
}

@media screen and (max-width:1450px) {
  .about-wrapper {
    padding-left: 20%
  }
}

@media screen and (max-width:1400px) {
  .about-wrapper {
    padding-left: 10%
  }
}

@media screen and (max-width:1200px) {
  .about-wrapper {
    padding-left: 5%;
    padding-bottom: 150px
  }
  .about-content h2 {
    font-size: 80px
  }
}

@media screen and (max-width:1000px) {
  .about-content h2 {
    font-size: 74px;
    line-height: 1
  }
}

@media screen and (max-width:767px) {
  .about-wrapper {
    padding-top: 57%;
    padding-left: 0;
    margin-left: 35px;
    background: url("../img/about-bgsp.png") left top / contain no-repeat;
    padding-bottom: 135px
  }
  .about-contents {
    display: block
  }
  .about-content {
    width: 100%;
    padding-right: 35px
  }
  .about-content img {
    width: 120px
  }
  .about-annotation {
    font-size: 10px;
    margin-bottom: 25px
  }
  .about-text {
    font-size: 12px;
    margin-bottom: 40px
  }
}

@media screen and (max-width:320px) {
  .about-content h2 {
    font-size: 50px
  }
}

.contact-wrapper {
  width: 380px;
  max-width: calc(100% - 50px);
  margin: 0 auto;
  padding-bottom: 180px
}

.contact-content h2 {
  font-size: 100px;
  color: #fff;
  font-weight: 400
}

.contact-annotation {
  font-size: 14px;
  color: #999;
  margin-bottom: 30px;
  font-weight: 100
}

.contact-text {
  font-size: 14px;
  color: #fff;
  margin-bottom: 45px
}

@media screen and (max-width:1200px) {
  .contact-content h2 {
    font-size: 80px
  }
}

@media screen and (max-width:1000px) {
  .contact-wrapper {
    width: 300px
  }
  .contact-content h2 {
    font-size: 74px;
    line-height: 1
  }
}

@media screen and (max-width:767px) {
  .contact-wrapper {
    padding-bottom: 160px
  }
  .contact-annotation {
    font-size: 10px
  }
  .contact-text {
    font-size: 12px;
    margin-bottom: 40px
  }
}

@media screen and (max-width:320px) {
  .contact-content h2 {
    font-size: 50px
  }
}

.single {
  background-color: #333
}

.single-wrapper {
  padding-top: 240px;
  width: 1000px;
  max-width: calc(100% - 50px);
  padding-left: 22%;
  margin-right: auto
}

.single-time time {
  color: hsla(0, 0%, 100%, .6);
  font-size: 12px;
  margin-right: 15px
}

.single-time time, .single-time ul {
  display: inline-block
}

.single-time ul li a {
  display: inline-block;
  color: #3391fd;
  font-size: 12px
}

.single-time ul li a:hover {
  opacity: .6
}

.single-title h1 {
  margin-top: -10px;
  color: #fff;
  font-size: 28px;
  margin-bottom: 30px
}

.single-thumbnail {
  margin-bottom: 70px
}

.single-thumbnail img {
  width: 100%;
  height: auto
}

.single-content h2, .single-content h3 {
  font-size: 24px;
  color: #fff;
  line-height: 2.5
}

.single-content h4 {
  font-size: 20px;
  color: #fff;
  line-height: 2
}

.single-content h5 {
  font-size: 18px;
  color: #fff;
  line-height: 2
}

.single-content h6 {
  font-size: 16px;
  color: #fff;
  line-height: 2
}

.single-content p {
  font-size: 14px;
  color: #fff;
  line-height: 2
}

.single-content a {
  color: #3391fd
}

.single-content a:hover {
  opacity: .6
}

.single-footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 70px;
  margin-bottom: 60px;
  border-bottom: 1px solid #707070
}

.single-sns a, .single-sns span {
  display: inline-block;
  vertical-align: middle
}

.single-sns a img {
  width: 100%
}

.single-sns-share {
  font-size: 18px;
  color: #fff;
  margin-right: 50px
}

.single-sns-facebook {
  margin-right: 35px
}

.single-sns-facebook, .single-sns-twitter {
  width: 25px
}

.single-sns-facebook:hover img, .single-sns-twitter:hover img {
  opacity: .6;
  transition: .3s
}

.single-tags {
  width: 30%;
  text-align: right
}

.single-tags a {
  display: inline-block;
  line-height: 1.7;
  color: hsla(0, 0%, 100%, .5);
  margin-right: 16px
}

.single-tags a:hover {
  opacity: .6
}

.single-navi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 195px
}

.single-navi span a {
  font-size: 18px;
  color: #fff
}

.single-navi span a:hover {
  opacity: .6
}

.single-navi-index a img {
  width: 14px;
  display: inline-block;
  margin-right: 15px
}

.single-navi-prev a {
  padding-left: 25px;
  position: relative
}

.single-navi-prev a:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  border-color: transparent transparent #3391fd #3391fd;
  border-style: solid;
  border-width: 1px;
  transform: rotate(45deg)
}

.single-navi-next a {
  padding-right: 25px;
  position: relative
}

.single-navi-next a:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  top: 0;
  right: 0;
  border-color: #3391fd #3391fd transparent transparent;
  border-style: solid;
  border-width: 1px;
  transform: rotate(45deg)
}

.single-related {
  width: 900px;
  max-width: calc(100% - 25px);
  margin-left: 22%;
  padding-bottom: 200px
}

.related_post_title {
  font-size: 80px!important;
  color: #fff;
  font-weight: 300!important;
  position: relative;
  text-align: center;
  margin-bottom: 100px!important
}

.related_post_title:after {
  content: "The latest information and company information of Synthesizer V.";
  position: absolute;
  font-size: 14px;
  color: #999;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap
}

ul.related_post li {
  display: inline-block;
  width: 230px;
  vertical-align: top
}

ul.related_post li:not(:last-child) {
  margin-right: 100px
}

.wp_rp_thumbnail img {
  width: 100%;
  height: auto;
  margin-bottom: 15px
}

.wp_rp_thumbnail img:hover {
  opacity: .6
}

.wp_rp_publish_date {
  font-size: 12px;
  color: hsla(0, 0%, 100%, .6);
  display: inline-block;
  margin-right: 12px
}

.wp_rp_title {
  font-size: 14px;
  color: #fff;
  display: block;
  line-height: 1.6;
  font-weight: 300!important
}

.wp_rp_title:hover {
  opacity: .6
}

.related_post .post-categories {
  display: inline-block
}

.related_post .post-categories li {
  width: auto
}

.related_post .post-categories a {
  font-size: 12px;
  color: #3391fd;
  font-weight: 300!important
}

.related_post .post-categories a:hover {
  opacity: .6
}

@media screen and (max-width:1199px) {
  .single-wrapper {
    padding-left: 0;
    margin-left: auto
  }
  .single-related {
    margin-left: auto;
    margin-right: auto
  }
}

@media screen and (max-width:950px) {
  .single-related {
    width: 750px
  }
  ul.related_post li:not(:last-child) {
    margin-right: 55px
  }
  ul.related_post li {
    width: 208px
  }
}

@media screen and (max-width:767px) {
  .single-wrapper {
    padding-top: 120px
  }
  .single-title h1 {
    font-size: 24px
  }
  .single-content h2 {
    font-size: 22px
  }
  .single-content h3 {
    font-size: 20px
  }
  .single-content h4 {
    font-size: 18px
  }
  .single-content h5 {
    font-size: 16px
  }
  .single-content h6 {
    font-size: 14px
  }
  .single-footer-wrapper {
    padding-top: 100px;
    padding-bottom: 40px;
    margin-bottom: 40px
  }
  .single-navi {
    padding-bottom: 150px;
    justify-content: center;
    position: relative
  }
  .single-navi-prev {
    position: absolute;
    top: 0;
    left: 0
  }
  .single-navi-next {
    position: absolute;
    top: 0;
    right: 0
  }
  .single-navi-prev a {
    padding-left: 14px
  }
  .single-navi-next a {
    padding-right: 14px
  }
  .single-navi-prev a:before {
    width: 10px;
    height: 10px;
    top: 4px;
    left: 0
  }
  .single-navi-next a:before {
    width: 10px;
    height: 10px;
    top: 3.5px;
    right: 0
  }
  .single-sns-facebook, .single-sns-twitter {
    width: 20px
  }
  .single-sns-share {
    margin-right: 25px;
    font-size: 14px
  }
  .single-sns-facebook {
    margin-right: 17px
  }
  .single-navi span a, .single-tags a {
    font-size: 14px
  }
  .single-navi-index a img {
    width: 12px;
    margin-right: 8px
  }
  .related_post_title {
    font-size: 13.8vw!important;
    margin-bottom: 50px!important
  }
  .related_post_title:after {
    font-size: 10px
  }
  ul.related_post {
    text-align: center
  }
  ul.related_post li {
    text-align: left;
    width: 300px
  }
  ul.related_post li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 50px
  }
  .wp_rp_title {
    margin-top: 10px
  }
}

.article {
  background-color: #333
}

.article-wrapper {
  width: 900px;
  max-width: calc(100% - 50px);
  margin: 0 auto;
  padding-top: 200px
}

.article-wrapper a:hover {
  opacity: .6
}

.article-title {
  margin-bottom: 90px
}

.article-title h2 {
  display: inline-block;
  font-size: 100px;
  font-weight: 400;
  color: #fff;
  margin-right: 45px
}

.article-title>div {
  display: inline-block;
  vertical-align: text-bottom;
  line-height: 3;
  font-size: 14px;
  font-weight: 300
}

.article-title>div p:first-child {
  color: #fff
}

.article-title>div p:last-child {
  color: #999;
  font-weight: 100
}

.article-title h2 a {
  font-size: 100px;
  color: #fff;
  pointer-events: none
}

.article-menus {
  display: flex;
  flex-wrap: wrap
}

.article-menus article {
  width: 240px;
  margin-bottom: 80px
}

.article-menus article:not(:nth-child(3n)) {
  margin-right: 90px
}

.article-thumbnail img {
  width: 100%;
  height: auto
}

.article-thumbnail img:hover {
  width: 100%;
  height: auto;
  opacity: .6;
  transition: all .3s
}

.article-menu ul {
  display: inline-block;
  margin-bottom: 10px
}

.article-menu time {
  display: inline-block;
  font-size: 12px;
  color: hsla(0, 0%, 100%, .6);
  margin-right: 15px
}

.article-menu ul li a {
  color: #3391fd;
  font-size: 12px
}

.article-menu>a {
  color: #fff;
  display: block;
  font-size: 14px
}

.wp-pagenavi {
  width: 100%;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 160px
}

.wp-pagenavi .page {
  font-size: 14px;
  color: #fff;
  margin-right: 40px
}

.wp-pagenavi .current {
  color: #3391fd
}

.wp-pagenavi .current, .wp-pagenavi .extend {
  margin-right: 40px;
  position: relative;
  top: 1px
}

.wp-pagenavi .extend {
  color: #fff
}

.nextpostslink, .previouspostslink {
  color: #3391fd;
  position: relative;
  top: 1px
}

.previouspostslink {
  margin-right: 65px
}

.nextpostslink {
  margin-left: 25px
}

.article-none {
  color: #fff
}

@media screen and (max-width:950px) {
  .article-menus {
    width: 750px;
    margin: 0 auto;
    max-width: 100%
  }
  .article-menus article {
    width: 200px
  }
  .article-menus article:not(:nth-child(3n)) {
    margin-right: 58px
  }
}

@media screen and (max-width:767px) {
  .article-wrapper {
    padding-top: 100px
  }
  .article-wrapper h2 {
    margin-bottom: 40px
  }
  .article-wrapper h2 a {
    font-size: 65px
  }
  .article-title {
    margin-bottom: 60px;
    margin-top: 18px
  }
  .article-title h2 {
    font-size: 85px;
    margin-right: 0;
    display: block;
    line-height: 1;
    margin-bottom: 10px
  }
  .tag-title h2 {
    font-size: 60px;
    white-space: normal
  }
  .article-title>div {
    display: block;
    line-height: 2;
    font-size: 12px
  }
  .article-title>div p:first-child {
    margin-bottom: 10px;
    line-height: 1.8
  }
  .article-title>div p:last-child {
    line-height: 1.5
  }
  .article-menus {
    display: block
  }
  .article-menus article {
    width: 100%
  }
  .article-menus article:not(:nth-child(3n)) {
    margin-right: 0
  }
  .article-menu time {
    font-size: 10px;
    margin-right: 15px
  }
  .article-menu ul li a {
    font-size: 10px
  }
  .wp-pagenavi .page {
    font-size: 12px;
    margin-right: 30px
  }
  .wp-pagenavi .current, .wp-pagenavi .extend {
    margin-right: 30px;
    font-size: 12px;
    top: 0
  }
  .previouspostslink {
    margin-right: 45px
  }
  .nextpostslink {
    margin-left: 15px
  }
}

#aboutmain {
  background-color: #333
}

.aboutmain-mv-img img {
  width: 100%
}

.aboutmain-mv-content {
  width: 900px;
  max-width: calc(100% - 50px);
  margin: -5.5% auto 200px;
  display: flex;
  justify-content: space-between
}

.aboutmain-mv-title {
  width: 49%
}

.aboutmain-mv-title h2 {
  font-size: 100px;
  color: #fff;
  font-weight: 400
}

.aboutmain-mv-title p {
  font-size: 13.5px;
  color: #999;
  margin-top: -10px;
  font-weight: 100
}

.aboutmain-mv-text {
  width: 50%
}

.aboutmain-mv-text p {
  font-size: 13.5px;
  color: #fff;
  margin-top: 35px;
  line-height: 1.85;
  letter-spacing: .107em
}

.aboutmain-message-wrapper {
  width: 900px;
  max-width: calc(100% - 50px);
  margin: 0 auto 200px
}

.aboutmain-message-wrapper h2 {
  font-size: 80px;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
  font-weight: 400
}

.aboutmain-message-contents {
  display: flex;
  justify-content: space-between
}

.aboutmain-message-img {
  width: 19%
}

.aboutmain-message-img img {
  width: 100%
}

.aboutmain-message-text {
  width: 75%;
  color: #fff
}

.aboutmain-message-text h3 {
  font-size: 25px;
  line-height: 1.7;
  margin-bottom: 20px
}

.aboutmain-message-text p {
  font-size: 14px;
  line-height: 1.77;
  letter-spacing: .06em
}

.aboutmain-message-text p:not(:last-child) {
  margin-bottom: 20px
}

.aboutmain-company-wrapper {
  max-width: calc(100% - 25px);
  display: flex;
  padding-bottom: 200px;
  width: 1200px
}

.aboutmain-company-content {
  margin-left: 120px;
  margin-top: -30px;
  width: 535px
}

.aboutmain-company-content h2 {
  font-size: 80px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 8px
}

.aboutmain-company-content table {
  width: 100%;
  border-collapse: collapse
}

.aboutmain-company-content tr:not(:last-child) {
  border-bottom: 1px solid #555
}

.aboutmain-company-content tr td {
  color: #fff;
  font-size: 14px;
  padding-top: 26.5px;
  padding-bottom: 23.5px;
  line-height: 1.7;
  vertical-align: top
}

.aboutmain-company-content tr td a {
  color: #fff
}

.aboutmain-company-content tr td:first-child {
  width: 130px;
  padding-right: 65px
}

@media screen and (min-width:768px) {
  .aboutmain-company-content tr td a[href*="tel:"] {
    pointer-events: none;
    cursor: default
  }
}

@media screen and (min-width:1450px) {
  .aboutmain-company-wrapper {
    margin: 0 auto
  }
}

@media screen and (max-width:900px) {
  .aboutmain-mv-content {
    margin: -7% auto 200px
  }
  .aboutmain-company-content h2, .aboutmain-message-wrapper h2, .aboutmain-mv-title h2 {
    font-size: 65px
  }
  .aboutmain-company-content {
    margin-left: 50px
  }
}

@media screen and (max-width:767px) {
  .aboutmain-mv-content {
    display: block;
    margin: -16% auto 120px;
    max-width: calc(100% - 70px)
  }
  .aboutmain-mv-title {
    width: 100%
  }
  .aboutmain-mv-title h2 {
    font-size: 74px
  }
  .aboutmain-mv-title p {
    font-size: 11px
  }
  .aboutmain-mv-text {
    width: 100%
  }
  .aboutmain-mv-text p {
    font-size: 12px;
    margin-top: 28px
  }
  .aboutmain-message-wrapper {
    margin: 0 auto 130px;
    max-width: calc(100% - 70px)
  }
  .aboutmain-message-wrapper h2 {
    font-size: 70px;
    line-height: 1;
    margin-bottom: 30px
  }
  .aboutmain-message-contents {
    display: block;
    position: relative
  }
  .aboutmain-message-img {
    position: absolute;
    width: 24%;
    top: 0;
    left: 0
  }
  .aboutmain-message-text {
    margin-top: 20px;
    width: 100%
  }
  .aboutmain-message-text h3 {
    font-size: 18px;
    padding-left: 32%;
    padding-top: 5px
  }
  .aboutmain-message-text p:not(:last-child) {
    margin-bottom: 25px
  }
  .aboutmain-company-wrapper {
    max-width: 100%;
    flex-direction: column;
    padding-bottom: 130px
  }
  .aboutmain-company-content h2 {
    font-size: 70px;
    text-align: center;
    line-height: 1;
    margin-bottom: 30px
  }
  .aboutmain-company-content {
    margin-left: 0;
    margin-top: 0;
    width: 100%;
    margin-bottom: 30px
  }
  .aboutmain-company-content div {
    position: relative;
    padding-top: 54.4%;
    overflow: hidden
  }
  .aboutmain-company-content iframe {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateY(-35%)
  }
  .aboutmain-company-content table {
    max-width: calc(100% - 70px);
    margin: 44px auto 0
  }
  .aboutmain-company-content tr td {
    font-size: 12px
  }
  .aboutmain-company-content tr td:first-child {
    width: 100px;
    padding-right: 40px
  }
}

@media screen and (max-width:365px) {
  .aboutmain-mv-title h2 {
    font-size: 19vw
  }
}

#contactmain {
  background-color: #333
}

.contactmain-wrapper {
  width: 900px;
  max-width: calc(100% - 50px);
  margin: 0 auto;
  padding-top: 260px;
  padding-bottom: 200px
}

.contactmain-content {
  display: flex;
  justify-content: space-between
}

.contactmain-title h2 {
  font-size: 80px;
  color: #fff;
  font-weight: 400
}

.contactmain-title p {
  font-size: 14px;
  color: #999;
  margin-top: -10px;
  font-weight: 100
}

.contactmain-text {
  margin-top: 26px
}

.contactmain-text p {
  font-size: 14px;
  color: #fff;
  line-height: 2.5
}

.contactmain-text a {
  color: #3391fd
}

.contactmain-text a:hover {
  opacity: .6
}

.contactmain-text a img {
  display: inline-block;
  width: 10px;
  margin: 0 3px
}

@media screen and (max-width:950px) {
  .contactmain-title h2 {
    font-size: 60px
  }
  .contactmain-text p, .contactmain-title p {
    font-size: 12px
  }
}

@media screen and (max-width:767px) {
  .contactmain-wrapper {
    padding-top: 120px;
    padding-bottom: 130px
  }
  .contactmain-content {
    display: block
  }
  .contactmain-title h2 {
    font-size: 75px;
    line-height: 1;
    margin-bottom: 12px
  }
  .contactmain-text p {
    line-height: 2;
    letter-spacing: .075em
  }
}

#error {
  background-color: #333
}

.error-wrapper {
  width: 900px;
  max-width: calc(100% - 50px);
  margin: 0 auto;
  padding-top: 260px;
  padding-bottom: 200px
}

.error-content {
  display: flex;
  justify-content: space-between
}

.error-title h2 {
  font-size: 80px;
  color: #fff;
  font-weight: 400
}

.error-text {
  margin-top: 26px
}

.error-text p {
  font-size: 14px;
  color: #fff;
  line-height: 2;
  margin-bottom: 40px
}

@media screen and (max-width:950px) {
  .error-title h2 {
    font-size: 60px
  }
  .error-text {
    margin-top: 15px
  }
  .error-text p {
    font-size: 12px
  }
}

@media screen and (max-width:767px) {
  .error-wrapper {
    padding-top: 120px;
    padding-bottom: 130px
  }
  .error-content {
    display: block
  }
  .error-title h2 {
    font-size: 17vw
  }
  .error-text p {
    font-size: 12px;
    line-height: 2
  }
}

@keyframes slideshow {
  0% {
    opacity: 0
  }
  25% {
    opacity: 1
  }
  50% {
    opacity: 1
  }
  75% {
    opacity: 0
  }
}

@keyframes tabchange {
  0% {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes anim-rotate {
  0% {
    transform: rotate(-90deg)
  }
  to {
    transform: rotate(-450deg)
  }
}

@keyframes anim-rotate-out {
  0% {
    transform: rotate(-450deg)
  }
  to {
    transform: rotate(-90deg)
  }
}

#modal-content {
  width: 80%;
  margin: 0;
  padding: 0;
  background: #fff;
  position: fixed;
  display: none;
  z-index: 99999
}

#modal-content-close {
  position: absolute;
  content: "";
  top: -3px;
  right: -6%;
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 50px;
  cursor: pointer
}

#modal-content-close span {
  width: 100%;
  height: 1px;
  background-color: hsla(0, 0%, 100%, .9);
  position: relative;
  top: 18px
}

#modal-content-close span:first-child {
  transform: rotate(-45deg)
}

#modal-content-close span:last-child {
  transform: rotate(45deg)
}

.modal-inner {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden
}

.modal-inner #playerjp {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%
}

#modal-overlay {
  z-index: 9999;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: rgba(0, 0, 0, .75)
}

@media screen and (max-width:1024px) {
  #modal-content-close {
    right: -8%
  }
}

@media screen and (max-width:767px) {
  #modal-content-close {
    top: -30%;
    right: -3%
  }
}

.syn-heading {
  text-align: center
}

.syn-heading h2 {
  font-size: 100px;
  color: #fff;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 20px
}

.syn-heading p {
  font-size: 14px;
  color: #999;
  font-weight: 100
}

@media screen and (max-width:767px) {
  .syn-heading h2 {
    font-size: 70px;
    margin-bottom: 5px
  }
  .syn-heading p {
    font-size: 11px
  }
}

.syn-mv-wrapper {
  padding-top: 180px
}

.syn-mv-heading {
  width: 1000px;
  max-width: calc(100% - 45px);
  margin: 0 auto -100px;
  position: relative;
  z-index: 1
}

.syn-mv-heading h2 {
  width: 100%;
  margin-bottom: 14.5px
}

.syn-mv-heading p {
  font-size: 17px;
  letter-spacing: .018em;
  padding-left: 40%;
  color: #ccc
}

.syn-mv-play {
  position: relative;
  display: block;
  opacity: 1;
  cursor: pointer
}

.syn-mv-play img {
  width: 100%
}

.syn-mv-play div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1
}

.syn-mv-play div figure {
  display: inline-block;
  vertical-align: middle;
  margin-right: 19px;
  position: relative;
  width: 80px;
  height: 80px
}

.syn-mv-play div img {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%)
}

.first-circle {
  position: absolute;
  top: 0;
  left: 0
}

.first-circle-rotate {
  animation: anim-rotate 1s ease-in-out forwards
}

.syn-mv-play:hover .first-circle-rotate {
  animation: anim-rotate-out 1s ease-in-out forwards
}

.syn-mv-play div img {
  width: 28px
}

.syn-mv-play div span {
  font-size: 47px;
  letter-spacing: .05em;
  color: #7b9f35;
  font-weight: 300;
  vertical-align: middle
}

.svg_circle {
  stroke: #30ab33;
  stroke-dasharray: 245;
  stroke-dashoffset: 245;
  stroke-width: 3;
  transition: all 1s cubic-bezier(.19, .01, 0, .93)
}

.syn-mv-play:hover .svg_circle {
  stroke-dashoffset: 0
}

.syn-mv-text {
  width: 900px;
  max-width: calc(100% - 70px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 196.5px
}

.syn-mv-text-left {
  width: 36.6%
}

.syn-mv-text-left h3 {
  font-size: 27.5px;
  letter-spacing: .1em;
  line-height: 1.6;
  white-space: nowrap;
  color: #fff;
  margin-top: -5px
}

.syn-mv-text-left p {
  font-size: 13px;
  font-weight: 100;
  letter-spacing: .02em;
  line-height: 1.8;
  color: #999
}

.syn-mv-text-right {
  width: 56.6%
}

.syn-mv-text-right p {
  font-size: 12px;
  color: #fff;
  letter-spacing: .06em;
  line-height: 1.9
}

.syn-mv-text-right p:first-child {
  margin-bottom: 32px
}

.syn-mv-play-sp {
  display: none
}

@media screen and (max-width:1024px) {
  .syn-mv-heading {
    margin: 0 auto -45px
  }
  .syn-mv-heading p {
    font-size: 15px
  }
  .syn-mv-text-left h3 {
    font-size: 24px
  }
  .syn-mv-text-right p {
    font-size: 11px
  }
}

@media screen and (max-width:767px) {
  .syn-mv-wrapper {
    padding-top: 113px
  }
  .syn-mv-play div {
    width: 225px
  }
  .syn-mv-play div span {
    font-size: 31px
  }
  .syn-mv-play div img {
    width: 54.5px;
    margin-right: 12.5px;
    display: inline-block;
    vertical-align: middle;
    position: static;
    transform: translate(0)
  }
  .syn-mv-text {
    padding-top: 38px;
    padding-bottom: 151.5px;
    display: block
  }
  .syn-mv-text-left {
    width: 100%
  }
  .syn-mv-text-left h3 {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 5px
  }
  .syn-mv-text-left p {
    font-size: 11px;
    margin-bottom: 28px
  }
  .syn-mv-text-right {
    width: 100%
  }
  .syn-mv-text-right p {
    font-size: 12px
  }
  .syn-mv-text-right p:first-child {
    margin-bottom: 23px
  }
  .syn-mv-play-pc {
    display: none!important
  }
}

.syn-feature-wrapper {
  padding-bottom: 180px
}

.syn-feature-heading {
  margin-bottom: 123px
}

.syn-feature-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 137px
}

.syn-feature-content-1, .syn-feature-content-3, .syn-feature-content-5 {
  padding-left: 12.54%
}

.syn-feature-content-2, .syn-feature-content-4 {
  padding-right: 12.54%
}

.syn-feature-content-5 {
  margin-bottom: 93px
}

.syn-feature-detail {
  width: 42.8%
}

.syn-feature-content-1 .syn-feature-detail {
  margin-top: 10px
}

.syn-feature-content-2 .syn-feature-detail {
  margin-top: 21px
}

.syn-feature-content-3 .syn-feature-detail {
  margin-top: 29px
}

.syn-feature-content-4 .syn-feature-detail {
  margin-top: 3px
}

.syn-feature-content-5 .syn-feature-detail {
  margin-top: 45px
}

.syn-feature-image {
  width: 50.6%;
  height: 100%;
  position: relative
}

.syn-feature-image video {
  width: 100%;
  cursor: pointer
}

.video-btn {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  width: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.syn-feature-image1 img {
  animation: slideshow 8s infinite;
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0
}

.syn-feature-image1 img:first-child {
  position: relative
}

.syn-feature-image1 img:nth-child(2) {
  animation-delay: 0s
}

.syn-feature-image1 img:last-child {
  animation-delay: 4s
}

.syn-feature-image2:hover #video-btn1, .syn-feature-image3:hover a img:last-child, .syn-feature-image4:hover #video-btn2 {
  filter: brightness(140%);
  transition: filter .2s
}

.syn-feature-image3 a {
  display: block;
  width: 100%;
  height: 100%
}

.syn-feature-image3 a img:last-child {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  width: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.syn-feature-title {
  font-size: 70px;
  font-weight: 300;
  color: #fff;
  position: relative;
  line-height: 1;
  margin-bottom: 5px
}

.syn-feature-title:before {
  display: inline-block;
  position: absolute;
  font-size: 20px;
  color: #7b9f35;
  letter-spacing: .04em;
  top: 8px;
  left: -30px
}

.syn-feature-title1:before {
  content: "01"
}

.syn-feature-title2:before {
  content: "02"
}

.syn-feature-title3:before {
  content: "03"
}

.syn-feature-title4:before {
  content: "04"
}

.syn-feature-title5:before {
  content: "05"
}

.syn-feature-subtitle {
  font-size: 13px;
  letter-spacing: .075em;
  color: #999;
  margin-bottom: 41.5px
}

.syn-feature-text {
  font-size: 13px;
  color: #fff;
  letter-spacing: .075em;
  line-height: 1.8
}

.syn-feature-support {
  width: 900px;
  max-width: calc(100% - 70px);
  margin: 0 auto;
  padding: 43px 160px 43px 54px;
  background-color: #484848;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.syn-feature-support h3 {
  font-size: 49px;
  font-weight: 300;
  letter-spacing: .03em;
  color: #fff
}

.syn-feature-support p {
  font-size: 11px;
  letter-spacing: .06em;
  line-height: 1.7;
  color: #fff;
  opacity: 1
}

@media screen and (max-width:1024px) {
  .syn-feature-content-1, .syn-feature-content-3, .syn-feature-content-5 {
    padding-left: 0;
    max-width: calc(100% - 50px);
    margin-left: auto
  }
  .syn-feature-content-2, .syn-feature-content-4 {
    padding-right: 0;
    max-width: calc(100% - 50px);
    margin-right: auto
  }
  .syn-feature-content-1 .syn-feature-detail, .syn-feature-content-2 .syn-feature-detail, .syn-feature-content-3 .syn-feature-detail, .syn-feature-content-4 .syn-feature-detail, .syn-feature-content-5 .syn-feature-detail {
    margin-top: 0
  }
  .syn-feature-text {
    font-size: 11px
  }
  .syn-feature-support {
    padding: 43px 0;
    justify-content: space-around
  }
}

@media screen and (max-width:767px) {
  .syn-feature-wrapper {
    padding-bottom: 160px
  }
  .syn-feature-heading {
    margin-bottom: 68px
  }
  .syn-feature-content {
    margin-bottom: 88px
  }
  .syn-feature-content-1, .syn-feature-content-2, .syn-feature-content-3, .syn-feature-content-4, .syn-feature-content-5 {
    max-width: 91.5%
  }
  .syn-feature-content-5 {
    margin-bottom: 80px
  }
  .syn-feature-title {
    font-size: 55px;
    margin-bottom: 3px
  }
  .syn-feature-title:before {
    font-size: 16px;
    letter-spacing: .06em;
    top: -18px;
    left: 0
  }
  .syn-feature-subtitle {
    font-size: 11px;
    letter-spacing: .06em;
    margin-bottom: 25px
  }
  .syn-feature-spfix {
    display: inline-block
  }
  .syn-feature-detail {
    width: 100%
  }
  .syn-feature-content-2 .syn-feature-detail, .syn-feature-content-4 .syn-feature-detail {
    text-align: right
  }
  .syn-feature-content-2 .syn-feature-spfix, .syn-feature-content-4 .syn-feature-spfix {
    text-align: left
  }
  .syn-feature-text {
    font-size: 12px;
    letter-spacing: .06em
  }
  .syn-feature-content-1 .syn-feature-text, .syn-feature-content-3 .syn-feature-text, .syn-feature-content-5 .syn-feature-text {
    margin-right: 9.3%
  }
  .syn-feature-content-2 .syn-feature-text, .syn-feature-content-4 .syn-feature-text {
    text-align: left;
    margin-left: 9.3%
  }
  .syn-feature-image {
    width: 100%;
    height: auto;
    margin-bottom: 35px
  }
  .syn-feature-image3 a img:last-child, .video-btn {
    width: 70px
  }
  .syn-feature-support {
    display: block;
    padding: 26px 30px 35px
  }
  .syn-feature-support h3 {
    font-size: 34px;
    margin-bottom: 8px
  }
}

.syn-lineup-wrapper {
  padding-bottom: 134px
}

.syn-lineup-heading {
  margin-bottom: 85px
}

.syn-lineup-contents {
  width: 900px;
  margin: 0 auto
}

.syn-lineup-content {
  display: inline-block;
  vertical-align: top;
  width: 147px;
  margin-bottom: 63px
}

.syn-lineup-content:not(:nth-child(5n)) {
  margin-right: 37px
}

.syn-lineup-img {
  position: relative;
  display: block;
  margin-bottom: 12.5px;
  width: 147px;
  height: 147px
}

.syn-lineup-img img:first-child {
  width: 100%;
  height: 100%
}

.syn-lineup-img img:last-child {
  position: absolute;
  width: 31px;
  bottom: 5px;
  right: 5px;
  transition: opacity .3s
}

.syn-lineup-img:hover img:last-child {
  opacity: .6
}

.syn-lineup-content h3 {
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: .02em;
  color: #fff;
  margin-bottom: -5px
}

.syn-lineup-content span {
  font-size: 8px;
  color: hsla(0, 0%, 100%, .7);
  letter-spacing: .06em;
  display: inline-block;
  margin-bottom: 10px
}

.syn-lineup-content p {
  font-size: 11px;
  letter-spacing: .06em;
  line-height: 1.55;
  color: #fff
}

.syn-lineup-download {
  font-size: 13px;
  color: #7b9f35;
  display: inline-block
}

.syn-lineup-download:hover {
  opacity: .6
}

.syn-lineup-download img {
  width: 9px;
  display: inline-block;
  margin-left: 7.5px
}

@media screen and (max-width:950px) {
  .syn-lineup-contents {
    width: 705px
  }
  .syn-lineup-content:not(:nth-child(5n)) {
    margin-right: 0
  }
  .syn-lineup-content:not(:nth-child(4n)) {
    margin-right: 35px
  }
}

@media screen and (max-width:767px) {
  .syn-lineup-heading {
    margin-bottom: 47.5px
  }
  .syn-lineup-wrapper {
    padding-bottom: 125px
  }
  .syn-lineup-contents {
    width: calc(100% - 70px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
  }
  .syn-lineup-content:not(:nth-child(4n)) {
    margin-right: 0
  }
}

@media screen and (max-width:420px) {
  .syn-lineup-contents {
    display: block
  }
  .syn-lineup-content {
    display: flex;
    width: 100%;
    margin-bottom: 30px
  }
  .syn-lineup-content div:first-child {
    width: 83px;
    margin-right: 21px
  }
  .syn-lineup-img {
    width: 100%;
    height: 83px
  }
  .syn-lineup-img img:last-child {
    width: 20px;
    bottom: 2px;
    right: 2px
  }
  .syn-lineup-content div:last-child {
    flex: 1;
    margin-top: -4px
  }
  .syn-lineup-content span {
    margin-bottom: 7px
  }
}

.syn-gallery-heading {
  margin-bottom: 80px
}

.syn-gallery-slider {
  position: relative
}

.slick-dotted.slick-slider {
  margin-bottom: 190px
}

.slick-slide {
  transition: all .3s
}

.slick-slide>div {
  margin: 0 30px
}

.slider-item div {
  position: relative;
  width: 100%;
  padding-top: 55.78%;
  margin-bottom: 15px;
  overflow: auto;
  -webkit-overflow-scrolling: touch
}

.slider-item div iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.slider-item h3 {
  font-size: 16px;
  color: #fff;
  letter-spacing: .08em;
  margin-bottom: 5px
}

.slider-item p {
  font-size: 15px;
  color: #999;
  letter-spacing: .05em
}

.slick-dots li:nth-child(n+4) {
  display: none
}

.slick-slide {
  opacity: .1
}

.slick-dots {
  bottom: -75px;
  left: -4px
}

.slick-next, .slick-prev {
  width: 40px;
  height: 52px;
  top: auto;
  bottom: -122px;
  z-index: 90
}

.slick-prev {
  left: 33%
}

.slick-next {
  right: 33%
}

.slick-next:before, .slick-prev:before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  border-top: 1px solid #7b9f35;
  top: 14px
}

.slick-prev:before {
  border-left: 1px solid #7b9f35;
  transform: rotate(-45deg);
  right: 0
}

.slick-next:before {
  border-right: 1px solid #7b9f35;
  transform: rotate(45deg);
  left: 0
}

.slick-dots li {
  margin: 0 19px
}

.slick-dots li button {
  width: 30px;
  height: 30px
}

.slick-dots li button:before {
  content: "○";
  font-size: 10px;
  color: #7b9f35;
  opacity: 1;
  top: 5px;
  left: 5px
}

.slick-dots li.slick-active button:before {
  content: "●";
  color: #7b9f35
}

@media screen and (max-width:1024px) {
  .slick-slide>div {
    margin: 0 10px
  }
}

@media screen and (max-width:767px) {
  .syn-gallery-heading {
    margin-bottom: 60px
  }
  .slick-dotted.slick-slider {
    margin-bottom: 108px
  }
  .slider-item h3 {
    margin-bottom: 0
  }
  .slider-item p {
    font-size: 10px
  }
  .slick-dots {
    bottom: -40px
  }
  .slick-dots li {
    margin: 0 4.5px
  }
  .slick-dots li button:before {
    transform: scale(.8)
  }
  .slick-dots li:nth-child(n+4) {
    display: inline-block
  }
  .slick-next, .slick-prev {
    bottom: -86px
  }
  .slick-prev {
    left: 8%
  }
  .slick-next {
    right: 8%
  }
}

.syn-studio-wrapper {
  padding-bottom: 230px;
  padding-top: 110px
}

.syn-studio-heading {
  margin-bottom: 78px
}

.syn-studio-heading h2 {
  font-size: 80px
}

.syn-studio-tabs {
  width: 1160px;
  max-width: calc(100% - 70px);
  margin: 0 auto;
  text-align: center
}

.syn-studio-tabs input[name=tab_item] {
  display: none
}

.tab_item {
  display: inline-block;
  font-size: 21px;
  color: #666;
  letter-spacing: .04em;
  line-height: 1;
  font-weight: 300;
  cursor: pointer;
  transition: all .3s
}

.tab_item:hover {
  color: #7b9f35
}

.tab_item_basic {
  padding-right: 32px;
  border-right: 1px solid #999
}

.tab_item_pro {
  padding-left: 33px
}

.syn-studio-tab {
  width: 1160px;
  max-width: calc(100% - 70px);
  margin: 41px auto 0;
  background-color: #414141;
  color: #fff;
  opacity: 0;
  display: none;
  text-align: left;
  transition: all .3s
}

#basic:checked~#tab_basic, #professional:checked~#tab_professional {
  display: block;
  animation: tabchange 1s forwards
}

.syn-studio-tabs input:checked+.tab_item {
  color: #7b9f35
}

.syn-studio-content {
  width: 900px;
  max-width: calc(100% - 50px);
  margin: 0 auto 58.5px;
  padding-top: 90px;
  display: flex;
  justify-content: space-between
}

.syn-studio-function {
  background-color: #535353;
  margin: 30px 0;
  padding: 22.5px 13px 19px 18px;
  font-size: 11px
}

.syn-studio-text {
  width: 50%;
  font-size: 13px;
  line-height: 1.8;
  letter-spacing: .075em
}

.syn-studio-text-pro p:first-child {
  margin-bottom: 37.5px
}

.syn-studio-environment {
  width: 40.61%
}

.syn-studio-environment h3 {
  font-size: 18px;
  margin-bottom: 15.7px
}

.syn-studio-environment table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 24px
}

.syn-studio-environment tr {
  border-bottom: 1px solid #555
}

.syn-studio-environment tr:first-child {
  border-top: 1px solid #555
}

.syn-studio-environment tr td {
  color: #fff;
  font-size: 11px;
  padding-top: 20px;
  padding-bottom: 20px;
  letter-spacing: .095em;
  line-height: 1.6;
  vertical-align: top
}

.syn-studio-environment tr td:first-child {
  width: 114px;
  padding-right: 27px;
  font-weight: 600
}

.syn-studio-environment tr td:last-child {
  font-size: 10px
}

.syn-studio-install {
  text-align: right
}

.syn-studio-install a {
  font-size: 12px;
  color: #7b9f35;
  letter-spacing: .06em
}

.syn-studio-install a:hover {
  opacity: .6
}

.syn-studio-install a img {
  width: 9px;
  display: inline-block;
  margin-left: 7.5px
}

.syn-studio-bottom {
  padding-bottom: 100px;
  text-align: center
}

.syn-studio-bottom h3 {
  font-size: 35px;
  font-weight: 300;
  letter-spacing: .03em;
  margin-bottom: 29px
}

.syn-studio-bottom div {
  width: 900px;
  max-width: calc(100% - 50px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between
}

.syn-studio-bottom div a {
  width: 31.7%;
  height: 99px;
  line-height: 99px;
  color: #7b9f35;
  border: 1px solid #7b9f35;
  position: relative
}

.syn-studio-bottom div a:hover {
  border: 1px solid transparent
}

.syn-studio-bottom div a img {
  display: inline-block;
  vertical-align: middle
}

.syn-studio-bottom div a:first-child img {
  width: 26.5px;
  margin-top: -4px;
  margin-right: 19.5px
}

.syn-studio-bottom div a:nth-child(2) img {
  width: 47.5px;
  margin-right: 6px
}

.syn-studio-bottom div a:last-child img {
  width: 34px;
  margin-top: -7px;
  margin-right: 12.5px
}

.syn-studio-bottom div a span {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  overflow: hidden
}

.syn-studio-bottom div a span:after, .syn-studio-bottom div a span:before {
  position: absolute;
  content: "";
  background-color: #30ab33;
  transition: all .25s
}

.bottomRight:before, .topLeft:before {
  width: 3px;
  height: 100%
}

.bottomRight:after, .topLeft:after {
  width: 100%;
  height: 3px
}

.topLeft:before {
  bottom: -100%;
  left: 0
}

.topLeft:after {
  left: -100%;
  top: 0
}

.bottomRight:before {
  top: -100%;
  right: 0
}

.bottomRight:after {
  right: -100%;
  bottom: 0
}

.syn-studio-bottom div a:hover .topLeft:before {
  bottom: 0
}

.syn-studio-bottom div a:hover .topLeft:after {
  left: 0
}

.syn-studio-bottom div a:hover .bottomRight:before {
  top: 0
}

.syn-studio-bottom div a:hover .bottomRight:after {
  right: 0
}

.syn-studio-bottom-pro div {
  justify-content: center
}

.syn-studio-bottom-pro div a {
  margin-right: 11px;
  margin-left: 11px
}

.syn-studio-bottom-pro div a img {
  width: 14px!important;
  display: inline-block;
  margin-left: 7.5px;
  margin-right: 0!important
}

.syn-studio-bottom-pro div a:last-child img {
  margin-top: -4px
}

@media screen and (max-width:1024px) {
  .syn-studio-heading h2 {
    font-size: 90px
  }
  .syn-studio-bottom div a {
    font-size: 13px
  }
}

@media screen and (max-width:767px) {
  .syn-studio-wrapper {
    padding-bottom: 100px;
    padding-top: 90px
  }
  .syn-studio-heading {
    margin-bottom: 20px
  }
  .syn-studio-heading h2 {
    font-size: 60px
  }
  .tab_item {
    font-size: 15px
  }
  .tab_item_basic {
    padding-right: 24.5px
  }
  .tab_item_pro {
    padding-left: 25.5px
  }
  .syn-studio-tabs {
    margin: 0;
    width: 100%;
    max-width: 100%
  }
  .syn-studio-tab {
    width: 100%;
    max-width: 100%;
    margin: 40px 0 0
  }
  .syn-studio-content {
    display: block;
    max-width: calc(100% - 70px);
    padding-top: 37px;
    margin: 0 auto 69px
  }
  .syn-studio-text {
    width: 100%;
    font-size: 12px;
    line-height: 1.6;
    margin-bottom: 75px
  }
  .syn-studio-function {
    margin: 22.5px 0;
    padding: 22.5px 13px 23.7px 18px;
    line-height: 1.8
  }
  .syn-studio-environment {
    width: 100%
  }
  .syn-studio-environment h3 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 25.7px
  }
  .syn-studio-environment tr td:first-child {
    margin-right: 25px
  }
  .syn-studio-environment tr td:last-child {
    font-size: 11px
  }
  .syn-studio-bottom {
    padding-bottom: 20px
  }
  .syn-studio-bottom h3 {
    font-size: 28px;
    margin-bottom: 23.5px
  }
  .syn-studio-bottom div {
    max-width: calc(100% - 70px);
    display: block
  }
  .syn-studio-bottom div a {
    display: block;
    width: 100%;
    height: 88px;
    line-height: 88px;
    margin-bottom: 15px;
    font-size: 16px
  }
}

h1 {
  font-weight: 600
}