p {
  color: #b3b3b3;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", "Yu Gothic", sans-serif;
  color: white !important;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a,
a:hover {
  text-decoration: none !important;
}

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", "Yu Gothic", sans-serif;
  background-color: rgb(56, 56, 56);
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 10000;
}
#status {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  margin: -50px 0 0 -50px;
}
.preloader {
  height: 40px;
  width: 40px;
  margin-top: -20px;
  margin-left: -20px;
}
#status,
.preloader {
  top: 50%;
  left: 50%;
  position: absolute;
}

.hero {
  height: 86vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* margin-top: -24%; */
}

.background {
  background-image: url("../img/syn-mv-bg.png");
}

.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: fixed;
  top: 2rem;
  width: 100%;
  margin-top: -31px;
  padding-top: 1%;
  background: linear-gradient(
    180deg,
    rgba(51, 51, 51, 0.8),
    rgba(51, 51, 51, 0.8) 25%,
    rgba(51, 51, 51, 0) 90%,
    rgba(51, 51, 51, 0.06)
  );
}
.site-navbar.transparent {
  background: transparent;
}
.site-navbar.absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.site-navbar .site-logo {
  position: relative;
  left: 0;
  font-size: 24px !important;
}
.site-navbar .site-navigation .site-menu {
  margin-bottom: 0;
}
.site-navbar .site-navigation .site-menu .active > a span {
  background: #007bff;
  color: #fff;
  border-radius: 30px;
  display: inline-block;
  padding: 5px 20px;
}
.site-navbar .site-navigation .site-menu a {
  text-decoration: none !important;
  display: inline-block;
}
.site-navbar .site-navigation .site-menu > li {
  display: inline-block;
}
.site-navbar .site-navigation .site-menu > li > a {
  padding: 10px 0px;
  color: #fff;
  font-size: 16px;
  text-decoration: none !important;
}
.site-navbar .site-navigation .site-menu > li > a > span {
  padding: 5px 20px;
  display: inline-block;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  border-radius: 30px;
}
.site-navbar .site-navigation .site-menu > li > a:hover > span {
  background: #007bff;
  color: #fff;
  border-radius: 30px;
  display: inline-block;
}
.site-navbar .site-navigation .site-menu .has-children {
  position: relative;
}
.site-navbar .site-navigation .site-menu .has-children > a span {
  position: relative;
  padding-right: 30px;
}
.site-navbar .site-navigation .site-menu .has-children > a span:before {
  position: absolute;
  content: "\e313";
  font-size: 16px;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: "icomoon";
}
.site-navbar .site-navigation .site-menu .has-children .dropdown {
  visibility: hidden;
  opacity: 0;
  top: 100%;
  position: absolute;
  text-align: left;
  border-top: 2px solid #007bff;
  -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  padding: 0px 0;
  margin-top: 20px;
  margin-left: 0px;
  background: #fff;
  -webkit-transition: 0.2s 0s;
  -o-transition: 0.2s 0s;
  transition: 0.2s 0s;
  z-index: 999;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
  position: absolute;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown.arrow-top:before {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown.arrow-top:before {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown a {
  text-transform: none;
  letter-spacing: normal;
  -webkit-transition: 0s all;
  -o-transition: 0s all;
  transition: 0s all;
  color: #343a40;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
  color: #007bff !important;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown > li {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 200px;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
  padding: 9px 20px;
  display: block;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li
  > a:hover {
  background: #fafafb;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children
  > a {
  position: relative;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children
  > a:after {
  position: absolute;
  right: 0;
  content: "\e315";
  right: 20px;
  font-family: "icomoon";
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children
  > .dropdown,
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children
  > ul {
  left: 100%;
  top: 0;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children:hover
  > a,
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children:active
  > a,
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children:focus
  > a {
  background: #fafafb;
}
.site-navbar .site-navigation .site-menu .has-children:hover > a,
.site-navbar .site-navigation .site-menu .has-children:focus > a,
.site-navbar .site-navigation .site-menu .has-children:active > a {
  color: #007bff;
}
.site-navbar .site-navigation .site-menu .has-children:hover > a span,
.site-navbar .site-navigation .site-menu .has-children:focus > a span,
.site-navbar .site-navigation .site-menu .has-children:active > a span {
  background: #007bff;
  color: #fff;
}
.site-navbar .site-navigation .site-menu .has-children:hover,
.site-navbar .site-navigation .site-menu .has-children:focus,
.site-navbar .site-navigation .site-menu .has-children:active {
  cursor: pointer;
}
.site-navbar .site-navigation .site-menu .has-children:hover > .dropdown,
.site-navbar .site-navigation .site-menu .has-children:focus > .dropdown,
.site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: rgb(68, 68, 68);
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.offcanvas-menu .site-mobile-menu {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}
.site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: white;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
  color: #f8f9fa;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float: left;
  margin-top: 10px;
  margin-left: 0px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display: inline-block;
  text-transform: uppercase;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
  max-width: 70px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration: none;
}
.site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 0 20px 20px 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px;
}
.site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}
.site-mobile-menu .site-nav-wrap a {
  padding: 10px 20px;
  display: block;
  position: relative;
  color: #212529;
}
.site-mobile-menu .site-nav-wrap a:hover {
  color: #007bff;
}
.site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block;
}
.site-mobile-menu .site-nav-wrap li.active > a {
  color: #007bff;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 20;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  color: white;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
  background: linear-gradient(
    180deg,
    rgba(51, 51, 51, 0.8),
    rgba(51, 51, 51, 0.8) 25%,
    rgba(51, 51, 51, 0) 90%,
    rgba(51, 51, 51, 0.06)
  );
}
.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  font-size: 12px;
  z-index: 20;
  font-family: "icomoon";
  content: "\f078";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  -ms-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.site-mobile-menu .site-nav-wrap > li {
  color: white;
  display: block;
  position: relative;
  float: left;
  width: 100%;
}
.site-mobile-menu .site-nav-wrap > li > a {
  color: white;
  padding-left: 20px;
  font-size: 20px;
}
.site-mobile-menu .site-nav-wrap > li > ul {
  color: white;
  padding: 0;
  margin: 0;
  list-style: none;
}
.site-mobile-menu .site-nav-wrap > li > ul > li {
  display: block;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > a {
  color: white;
  padding-left: 40px;
  font-size: 16px;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul {
  padding: 0;
  margin: 0;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
  display: block;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
  color: white;
  font-size: 16px;
  padding-left: 60px;
}
.site-mobile-menu .site-nav-wrap[data-class="social"] {
  float: left;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 5em;
}
.site-mobile-menu .site-nav-wrap[data-class="social"] > li {
  width: auto;
}
.site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
  padding-left: 15px !important;
}

#barba-wrapper {
  background-color: #333;
}

.barba-container {
  opacity: 0;
  visibility: hidden;
}

.title-img {
  margin: 21% auto;
}

.title {
  font-size: 100px;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 20px;
}

.sub-title {
  margin-top: -21%;
  margin-left: 45%;
}

.column {
  display: grid;
  grid-template-columns: auto auto;
}

.container-feature {
  display: grid;
  grid-template-columns: 50% auto;
  grid-gap: 100px;
}

.container-feature > .column {
  text-align: left;
  font-size: 15px;
}

.container-feature-2 {
  display: grid;
  grid-template-columns: auto 48%;
  grid-gap: 24px;
}

.container-feature-2 > .column1 {
  text-align: left;
  font-size: 15px;
}

.column1:nth-of-type(1) {
  order: 2;
}

.column1:nth-of-type(2) {
  margin-left: -37%;
  width: 95%;
  order: 1;
}

.line-break {
  width: 100%;
}
.feature-img {
  position: relative;
  margin-top: -30%;
  width: 145%;
}

.feature-title-h {
  font-size: 63px;
  font-weight: 300;
  /* color: #fff; */
  position: relative;
  line-height: 1;
  margin-bottom: 5px;
}

.feature-vid {
  width: 50.6%;
  height: 100%;
  margin-top: -22%;
  position: relative;
}

.video-btn {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  width: 80px;
  top: 70%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 10000000;
}

.video-btn:hover {
  filter: brightness(140%);
  transition: filter 0.2s;
}

.sound-btn {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  width: 80px;
  top: 30%;
  left: 80%;
  transform: translate(-50%, -50%);
  z-index: 10000000;
}

.sound-btn:hover {
  filter: brightness(140%);
  transition: filter 0.2s;
}

.feature-title-2 {
  text-align: left;
  margin-left: 52%;
}

.p {
  color: #b3b3b3;
  font-weight: 300;
}

.feature-details {
  font-size: 12px;
  letter-spacing: 0.075em;
  line-height: 1.8;
}

.feature-support {
  width: 900px;
  max-width: calc(100% - 70px);
  margin: 0 auto;
  padding: 43px 160px 43px 54px;
  background-color: #484848;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 60px;
  align-items: center;
}

.feature-support h3 {
  font-size: 49px;
  font-weight: 300;
  letter-spacing: 0.03em;
  color: #fff;
}

.feature-support p {
  font-size: 11px;
  letter-spacing: 0.06em;
  line-height: 1.7;
  color: #fff;
  opacity: 1;
}

.lineup-contents {
  width: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
}
.lineup-content:not(:nth-child(5n)) {
  margin-right: 37px;
}

.lineup-content {
  display: inline-block;
  vertical-align: top;
  width: 147px;
  margin-bottom: 63px;
}

.lineup-content h3 {
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0.02em;
  /* color: #fff; */
  margin-bottom: -5px;
}

.lineup-img {
  position: relative;
  display: block;
  margin-bottom: 12.5px;
  width: 147px;
  height: 147px;
}

.lineup-img img {
  width: 147px;
  height: 147px;
}

.lineup-img img:last-child {
  position: absolute;
  width: 20%;
  height: 20%;
  bottom: 5px;
  right: 5px;
  transition: opacity 0.3s;
}
.lineup-download {
  font-size: 13px;
  color: #7b9f35;
  display: inline-block;
}

.feature-title {
  text-align: left;
  margin-right: 45%;
}

.lineup-content span {
  font-size: 10px;
  color: hsla(0, 0%, 100%, 0.7);
  letter-spacing: 0.06em;
  display: inline-block;
  margin-bottom: 10px;
}

.lineup-content p {
  font-size: 11px;
  letter-spacing: 0.06em;
  line-height: 1.55;
  /* color: #fff; */
}

.lineup-download:hover {
  opacity: 0.6;
}

.lineup-download {
  font-size: 13px;
  color: #7b9f35;
  display: inline-block;
}

.gallery-slider {
  position: relative;
}

.slick-dotted.slick-slider {
  margin-bottom: 190px;
}

.slick-slide {
  transition: all 0.3s;
}

.slick-slide > div {
  margin: 0 30px;
}

.slider-item div {
  position: relative;
  width: 100%;
  padding-top: 55.78%;
  margin-bottom: 15px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.slider-item div iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider-item h3 {
  font-size: 16px;
  color: #fff;
  letter-spacing: 0.08em;
  margin-bottom: 5px;
}

.slider-item p {
  font-size: 15px;
  color: #999;
  letter-spacing: 0.05em;
}

.slick-dots li:nth-child(n + 4) {
  display: none;
}

.slick-slide {
  opacity: 0.1;
}

.slick-dots {
  bottom: -75px;
  left: -4px;
}

.slick-next,
.slick-prev {
  width: 40px;
  height: 52px;
  top: auto;
  bottom: -122px;
  z-index: 90;
}

.slick-prev {
  left: 33%;
}

.slick-next {
  right: 33%;
}

.slick-next:before,
.slick-prev:before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  border-top: 1px solid #7b9f35;
  top: 14px;
}

.slick-prev:before {
  border-left: 1px solid #7b9f35;
  transform: rotate(-45deg);
  right: 0;
}

.slick-next:before {
  border-right: 1px solid #7b9f35;
  transform: rotate(45deg);
  left: 0;
}

.slick-dots li {
  margin: 0 19px;
}

.slick-dots li button {
  width: 30px;
  height: 30px;
}

.slick-dots li button:before {
  content: "○";
  font-size: 10px;
  color: #7b9f35;
  opacity: 1;
  top: 5px;
  left: 5px;
}

.slick-dots li.slick-active button:before {
  content: "●";
  color: #7b9f35;
}

.btn-edit {
  padding-bottom: 100px;
  text-align: center;
}

/* .btn-edit h3 {
  font-size: 35px;
  font-weight: 300;
  letter-spacing: 0.03em;
  margin-bottom: 29px;
} */

.btn-edit {
  width: 400px;
  /* max-width: calc(100% - 50px); */
  /* margin: 0 auto; */
  display: grid;
  /* justify-content: space-between; */
  margin-left: 37%;
}

.btn-edit a {
  width: 70%;
  height: 99px;
  line-height: 99px;
  color: #7b9f35;
  border: 1px solid #7b9f35;
  position: relative;
}

.btn-edit a:hover {
  border: 1px solid transparent;
}

.btn-edit a img {
  display: inline-block;
  vertical-align: middle;
}

.btn-edit a span {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  overflow: hidden;
}

.btn-edit a span:after,
.btn-edit a span:before {
  position: absolute;
  content: "";
  background-color: #30ab33;
  transition: all 0.25s;
}

.bottomRight:before,
.topLeft:before {
  width: 3px;
  height: 100%;
}

.bottomRight:after,
.topLeft:after {
  width: 100%;
  height: 3px;
}

.topLeft:before {
  bottom: -100%;
  left: 0;
}

.topLeft:after {
  left: -100%;
  top: 0;
}

.bottomRight:before {
  top: -100%;
  right: 0;
}

.bottomRight:after {
  right: -100%;
  bottom: 0;
}

.btn-edit a:hover .topLeft:before {
  bottom: 0;
}

.btn-edit a:hover .topLeft:after {
  left: 0;
}

.btn-edit a:hover .bottomRight:before {
  top: 0;
}

.btn-edit a:hover .bottomRight:after {
  right: 0;
}

.footer-credit {
  text-align: center;
  padding-bottom: 30px;
  background-color: #1d1d1d;
}

.footer-credit small {
  font-size: 12px;
  color: hsla(0, 0%, 100%, 0.4);
}

@media screen and (max-width: 1024px) {
  .slick-slide > div {
    margin: 0 10px;
  }
}

@media screen and (max-width: 767px) {
  .slick-edit {
    padding-left: 2%;
  }

  .gallery-heading {
    margin-bottom: 60px;
  }

  .slick-dotted.slick-slider {
    margin-bottom: 108px;
  }

  .slider-item h3 {
    margin-bottom: 0;
  }

  .slider-item p {
    font-size: 10px;
  }

  .slick-dots {
    bottom: -40px;
  }

  .slick-dots li {
    margin: 0 4.5px;
  }

  .slick-dots li button:before {
    transform: scale(0.8);
  }

  .slick-dots li:nth-child(n + 4) {
    display: inline-block;
  }

  .slick-next,
  .slick-prev {
    bottom: -86px;
  }

  .slick-prev {
    left: 8%;
  }

  .slick-next {
    right: 8%;
  }
}

@media (max-width: 1200px) {
  .title-img {
    width: 100%;
  }
}

@media (max-width: 1070px) {
  .feature-support {
    grid-template-columns: auto 70%;
  }
}

@media (max-width: 995px) {
  .lineup-contents {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px;
  }
}

@media (max-width: 990px) {
  .title-img {
    width: 100%;
  }

  .hero {
    height: 55vh;
  }
  .feature-support {
    grid-template-columns: 52% 59%;
  }
  .video-btn {
    width: 90px;
    top: 50%;
    left: 70%;
  }

  .sound-btn {
    width: 90px;
    top: 50%;
    left: 70%;
  }
}

@media (max-width: 900px) {
  .background {
    background-image: url("../img/syn-mv-bg-sp.png");
  }
  h2 {
    text-align: center;
  }
  .hero {
    height: 39vh;
  }
  .title-img {
    width: 80%;
    margin: 20% auto auto auto;
  }

  .sub-title {
    margin-top: -2%;
    margin-left: 9%;
  }
  .title {
    font-size: 70px;
    margin-bottom: 5px;
  }
  .container-feature {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-gap: 5px;
  }

  .column:nth-child(1) {
    padding-top: 10%;
  }

  .column:nth-child(2) {
    /* grid-area: column-2; */
    grid-row: 1;
  }

  .container-feature-2 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-gap: 5px;
  }

  .column1:nth-child(1) {
    text-align: left;
  }

  .column1:nth-child(2) {
    /* grid-area: column-2; */
    grid-row: 1;
  }

  .feature-title-2 {
    text-align: right;
  }

  .feature-vid {
    width: 50.6%;
    height: 100%;
    margin-top: 0;
    position: relative;
  }

  .feature-title-2 {
    text-align: left;
    margin-left: 0;
  }

  .feature-img {
    position: relative;
    margin-top: 0;
    width: 110%;
  }

  .video-btn {
    width: 90px;
    top: 50%;
    left: 70%;
  }

  .sound-btn {
    width: 90px;
    top: 50%;
    left: 70%;
  }

  .feature-support {
    display: block;
    padding: 26px 30px 35px;
    justify-content: space-around;
    /* display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto; */
  }

  .feature-support h3 {
    font-size: 34px;
    margin-bottom: 8px;
  }
}

/* @media (max-width: 770px) {
  .sound-btn {
    width: 90px;
    top: 368%;
    left: 58%;
  }
}

@media (max-width: 765px) {
  .sound-btn {
    width: 90px;
    top: 390%;
    left: 54%;
  }
} */

@media (max-width: 760px) {
  .lineup-contents {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
  }

  /* .sound-btn {
    width: 90px;
    top: 356%;
    left: 57%;
  } */
}

@media (max-width: 700px) {
  /* .lineup-contents {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
  } */

  /* .sound-btn {
    width: 90px;
    top: 391%;
    left: 55%;
  } */
}

@media (max-width: 570px) {
  .lineup-contents {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
  }

  .lineup-content {
    width: 170px;
  }

  .sub-title {
    margin-top: -2%;
    margin-left: 9%;
    font-size: 11px;
  }

  .btn-edit {
    margin-left: 14%;
    width: 300px;
  }

  .btn-edit a {
    width: 100%;
  }

  /* .sound-btn {
    width: 90px;
    top: 359%;
    left: 55%;
  } */
}
